
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}


.table-container{
    border: thin solid black;
    background-color: pink;
    margin: 0 auto;
    width: 1200px;
    height: 800px;
  
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(7,1fr) 50px repeat(2,1fr);
    grid-auto-rows: 100px;
}

/* Elements */
.element{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid black;
}

.element-h{

}

.element-he{

}

/* Fillers */

.filler-2-1{
    
    grid-column: 2 / span 1;
    background-color: green;
}

.filler-3-10{
    grid-column: 3 / span 10;
    background-color: orange;
}

.filler-col-3-10-row-1-4{
    grid-column: 3 / span 10;
    grid-row: 1 / span 3;
    background-color: orange;

}

.filler-13-5{
    grid-column: 13 / span 5;
    background-color: red;
}

.filler-r-8-9-c-1-3{
    grid-column: 1 / span 2;
    grid-row: 8 / 9;
    background-color: green;

}

.filler-r-8-9-c-4-end{
    grid-column: 4 / -1;
    grid-row: 8 / 9;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;

}

.filler-r-9-10-c-1-3{
    grid-column: 1 / 3;
    grid-row: 9 / 10;
    background-color: green;
}

.filler-r-10-11-c-1-3{
    grid-column: 1 / 3;
    grid-row: 10 / 11;
    background-color: green;
 }
   
.connector{
    grid-column: 3 / span 1;
    grid-row: 6 / span 5;

    display: grid;
    grid-template-rows: repeat(5,1fr);
}

.connector p{
    display: flex;
    justify-content: center;
    align-items: center;
}